{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# Load the tag library #}
    {% load bootstrap4 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    
    <link rel="stylesheet" href="{% static 'account/css/base_sign.css' %}">
    <title>
    {% block title %}
        
    {% endblock title %}
        </title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            
        </div>
        <div class="col-md-6">
            <div class="box">
                    {% block content %}
    
                    {% endblock content %}
           
            </div>
                 
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
                
    
            
</div>
        
</body>
</html>